@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;800&display=swap');

.card img {
  height: 225px;
}

aside > .card:first-of-type {
  height: 417px;
}
aside > .card:last-of-type {
  height: 550px;
}